@import '../../../assets/variables.scss';

.midBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.midBannerContainer {
	background-color: $complementary-color;
}

.midBanner p {
	font-weight: 700;
	width: 40ch;
	text-align: center;
	color: #fff;
}

.trasparent {
	background-color: transparent;
	p {
		color: $primary-color;
	}
}
