@import '../assets/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: $secundary-color;
	font-display: swap;
}

body {
	position: relative;
	min-height: 100vh;
	min-height: 100dvh;
	background-color: $secundary-color;
	background-image: url('./../images/Fondos/FONDO_WEB_COMILLAS.jpg');
	background-attachment: fixed;
	padding-bottom: 300px;
}
html,
body {
	overflow-x: hidden;
}
body {
	position: relative;
}

p {
	font-size: 1.3rem;
}

h1 {
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 0.9em;
}
