@import '../../../assets/variables.scss';

.servicesBannerContainer {
	padding: 100px 0;
	background-color: black;
}

.servicesBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

.servicesBanner h1 {
	color: $secundary-color;
	font-size: 2.5rem;
	text-align: center;
}

.servicesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.service {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

.serviceIcon {
	width: 8rem;
	fill: #ffffff;
}

.service h3 {
	color: $secundary-color;
}

.service p {
	color: #ffffff;
	width: 30ch;
	text-align: center;
	font-weight: 200;
	margin-bottom: 1em;
}

@media (max-width: 768px) {
	.servicesContainer {
		flex-direction: column;
	}
}

@media (max-width: 640px) {
	.service p {
		width: 25ch;
	}
}

@media (max-width: 475px) {
	.service p {
		width: 20ch;
	}
}
