@import '../../../assets/variables.scss';

.clientsGalleryContainer {
	background-color: #ffffff;
	padding: 100px 0;
}

.clientsGallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.galleryTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
}

.carousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}

.carouselContent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.gridContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	font-size: 2rem;
	cursor: pointer;
	transition: 0.3s;
	border: none;
	line-height: 0;
	background-color: transparent;
}

.arrow:hover {
	transform: scale(1.3);
}

.clientsLogos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto auto;
	grid-auto-rows: 0px;
	position: relative;
	overflow: hidden;
	width: 85%;
}

.clientLogo {
	display: inline-flex;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	filter: grayscale(100%);
	transition: 0.3s;
	cursor: pointer;
	margin: 0.5em;
}

.clientLogo img {
	width: 100%;
}

.clientLogo:hover {
	filter: grayscale(0);
	transform: scale(1.01);
}

.clientAplicationContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.368);
	overflow: hidden;
	z-index: 999;

	div {
		position: relative;
		display: flex;
		justify-content: center;
		width: 80%;
	}

	img {
		width: 100%;
	}

	.closeIcon {
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px;
		font-size: 2rem;
		color: $primary-color;
		cursor: pointer;
		transition: 0.3s;
		background-color: rgba(0, 0, 0, 0.368);
		border-radius: 9999px;
	}

	.closeIcon:hover {
		transform: scale(1.3);
	}
}

@media (max-width: 768px) {
	.clientsLogos {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 475px) {
	.clientsLogos {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
}
