@import '../../../assets/variables.scss';

.mainBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0 0 0;
	height: 100vh;
}

.mainBannerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.carlosImage {
	position: relative;
	width: 50%;
	height: 100%;
}

.carlosImage img {
	position: absolute;
	bottom: 0;
	width: 80%;
}

.mainBannerContent {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 50%;
	gap: 1em;
}

.mainBannerContent span {
	font-size: 3rem;
	font-weight: 900;
	line-height: 0.9em;
}

.mainBannerContent p {
	font-size: 1.5rem;
	line-height: 1.2em;
}

.socialMedia {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 1em;
	width: 100%;
}

.socialMediaIcon {
	border-radius: 9999px;
	width: 3rem;
	transition: 0.3s;
}

.socialMedia a:hover {
	transform: scale(1.1);
	.socialMediaIcon {
		transform: translateY(-5px);
	}
}
