@import '../../../assets/variables.scss';

.mainBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.mainBannerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 1rem;
}

.logoComillas {
	width: 10rem;
	transition: 0.3s;
}

.logoComillas:hover {
	transform: translateY(-5px) scale(1.1);
}

.mainBannerContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 2em;
	text-align: center;
}

.mainBannerContent div {
	font-size: 3rem;
	font-weight: 900;
	line-height: 0.9em;
	width: 13ch;
}

.mainBannerContent p {
	max-width: 30ch;
	text-align: center;
}

.socialMedia {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 100%;
}

.socialMediaIcon {
	border-radius: 9999px;
	width: 3rem;
	transition: 0.3s;
}

.socialMedia a:hover {
	transform: scale(1.1);
	.socialMediaIcon {
		transform: translateY(-5px);
	}
}

/* md */
@media (max-width: 768px) {
	.mainBannerContent {
		p {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 475px) {
	.mainBannerContent {
		div {
			line-height: 1em;
			max-width: 100%;
			font-size: 2.5rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 320px) {
	.mainBannerContent {
		div {
			max-width: 8ch;
		}
	}
	.socialMedia {
		gap: 0.5em;
	}
}
