$primary-color: #000000;
$secundary-color: #ffcc00;
$complementary-color: #5900b7;
$media2Xl: 1536px;
$mediaXl: 1280px;
$mediaLg: 1024px;
$mediaMd: 768px;
$mediaSm: 640px;
$mediaXs: 475px;

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
