@import '../../../assets/variables.scss';

.buttonPrimary {
	background-color: $primary-color;
	color: $secundary-color;
}

.buttonSecundary {
	background-color: $secundary-color;
	color: $primary-color;
}

.button {
	padding: 1em;
	border-radius: 9999px;
	border: none;
	font-weight: 600;
	transition: 0.3s;
}

.button:hover {
	cursor: pointer;
}

.buttonPrimary.buttonHoverColor:hover {
	background-color: $secundary-color;
	color: $primary-color;
}

.buttonSecundary.buttonHoverColor:hover {
	background-color: #ffffff;
	color: $primary-color;
}

.buttonPrimary.buttonHoverScale:hover {
	transform: scale(1.1);
}

.buttonSecundary.buttonHoverScale:hover {
	transform: scale(1.1);
}

.buttonDisabled {
	background-color: #f1f1f1;
	color: #c1c1c1;
	cursor: not-allowed;
}
